/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public



# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/resources/assets/frontend/dist
/resources/assets/frontend/tmp
/resources/assets/frontend/out-tsc

# dependencies
/resources/assets/frontend/node_modules

# IDEs and editors
/resources/assets/frontend/.idea
/resources/assets/frontend.project
/resources/assets/frontend.classpath
/resources/assets/frontend.c9/
/resources/assets/frontend*.launch
/resources/assets/frontend.settings/
/resources/assets/frontend*.sublime-workspace

# IDE - VSCode
/resources/assets/frontend.vscode/*
/resources/assets/frontend!.vscode/settings.json
/resources/assets/frontend!.vscode/tasks.json
/resources/assets/frontend!.vscode/launch.json
/resources/assets/frontend!.vscode/extensions.json

# misc
/resources/assets/frontend/.sass-cache
/resources/assets/frontend/connect.lock
/resources/assets/frontend/coverage
/resources/assets/frontend/libpeerconnection.log
/resources/assets/frontendnpm-debug.log
/resources/assets/frontendtestem.log
/resources/assets/frontend/typings
/resources/assets/frontendyarn-error.log

# e2e
/resources/assets/frontend/e2e/*.js
/resources/assets/frontend/e2e/*.map

# System Files
/resources/assets/frontend.DS_Store
/resources/assets/frontendThumbs.db


.DS_Store
/resources/assets/node_modules/
/resources/assets/dist/
/resources/assets/npm-debug.log
/resources/assets/yarn-error.log

# Editor directories and files
/resources/assets/.idea
/resources/assets/*.suo
/resources/assets/*.ntvs*
/resources/assets/*.njsproj
/resources/assets/*.sln