<form #form="ngForm" (ngSubmit)="onSignIn(form)">
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input
            id="email"
            class="form-control"
            name="email"
            email
            ngModel
            required
            #email="ngModel"
        >
    </div>
	<div class="alert alert-danger" *ngIf="email.invalid && email.touched">
        <strong>Danger!</strong> Please enter a proper email address.
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input
            id="pwd"
            type="password"
            class="form-control"
            name="password"
            ngModel
            required
            #password="ngModel"
        >
    </div>
	<div class="alert alert-danger" *ngIf="password.invalid && password.touched">
		<strong>Danger!</strong> Your password is required.
	</div>
    <!--<div class="checkbox">-->
    <!--<label><input type="checkbox"> Remember me</label>-->
    <!--</div>-->
    <button class="btn btn-primary" [disabled]="form.invalid">SIGN IN</button>
    <button type="reset" class="btn btn-default" (click)="onReset(form)">
        RESET
    </button>
</form>
