<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">New Quote</div>
    <div class="panel-body">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <label for="content">New Content:</label>
        <input id="content" type="text" name="content" ngModel>
        <button class="btn btn-primary btn-sm" type="submit">Save</button>
        <button class="btn btn-default btn-sm" type="button" (click)="onCancel(form)">Cancel</button>
      </form>
    </div>
  </div>
</div>
